# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

# API-ключи
API_KEY1=your_api_key  # API_KEY для баз данных по валюте
API_KEY2=your_api_key  # API_KEY для баз данных по акциям
